@import "tailwindcss";

/* NAV */
.top-nav {
  @apply bg-[#122867] text-white py-6 pl-20  flex gap-4;
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply bg-cover bg-center bg-no-repeat w-full h-screen relative transition-all duration-1000 overflow-hidden;
  background-image: url('../assets/alumniHero.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-20 pr-[25%] ;
}
.nav-list {
  @apply flex items-center gap-6 text-white cursor-pointer
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white text-black text-base p-3  border-b-2 border-[#165DFF] absolute top-8 left-2
}
.list ul li{
  @apply block pb-2
}
.list ul li a{
  @apply whitespace-nowrap
}
.logo{
  @apply flex gap-5
}
.bottom-header {
  @apply text-white mt-35 ml-20 w-3/4 flex flex-col gap-5 bg-[#122867CC]  p-6
}
.bottom-header h1 {
  @apply text-4xl font-bold mb-4 text-[#00AEEF]
}
.bottom-header p {
  @apply text-xl font-normal
}
.bottom-header a{
  @apply inline
}
.join{
  @apply bg-white text-black p-3 rounded-xl text-xl font-normal cursor-pointer w-[30%] text-center
}

/* MAIN */
main{
    @apply p-[7%]
}
.alumni-div{
    @apply flex gap-6
}
.first-div{
    @apply flex flex-col gap-4 relative 
}
.benefit-div, .second-div, .third-div{
    @apply relative 
}
.benefit-div img, .second-div img, .third-div img{
    @apply w-full object-cover
}
.benefit-div h4, .second-div h4, .third-div h4{
    @apply absolute bg-[#122867] text-white top-0 text-sm py-3 px-4
}
.benefit-div div, .second-div div,.third-div div{
    @apply absolute bottom-0 bg-[#0E42D266] text-white w-full py-4 px-3 text-base
}
.third-div div{
    @apply bg-[#0E42D266] 
}
.benefit-div div p, .second-div p, .third-div p{
    @apply text-[#A7A9AC]
}
.alumni-benefits{
    @apply py-10 flex flex-col gap-15 px-25
}
.section-div h2{
    @apply text-[32px] font-semibold text-[#122867] border-l-3 border-[#0E42D2] p-2
}
.initial-div{
    @apply flex gap-10 text-[#1D2129] pt-4
}
.initial-div h4{
@apply text-[32px] w-3/4
}
.initial-div ol{
    @apply text-2xl pt-4 w-3/4 
}
.initial-div li{
    @apply  pt-4 leading-8
}

/* SEARCH */
.search{
  @apply bg-[#122867] text-white mx-25 my-8 px-6 pt-10 pb-15
}
.search h2{
  @apply text-[32px] border-l-3 pl-4 border-[#0E42D2]
}
.search-div{
  @apply flex flex-col gap-4 py-4
}
.search-template{
  @apply flex items-stretch
}
.search-template h5{
  @apply bg-[#00AEEF] text-2xl font-semibold px-4 py-2 flex items-center justify-center
}
.search-template p{
  @apply bg-white text-black text-xl px-4 py-2
}

/* ACCESS */
.access{
  @apply mx-25
}
.access-title{
  @apply border-l-3 border-[#0E42D2] pl-4
}
.access-title h2{
  @apply text-[#122867] text-[32px] font-semibold
}
.access-title p{
  @apply text-[#676767] text-base
}
.access-template{
  @apply p-10 flex justify-between items-center
}
.access-div{
  @apply flex flex-col gap-2 items-center text-center
}
.svgIcon{
  @apply bg-[#00AEEF] p-4 rounded-r-lg rounded-t-lg 
}
.access-div h6{
  @apply text-[#122867] text-base
}
.access-template img{
  @apply h-2
}
.privacy{
  @apply px-25
}
.privacy-template{
  @apply py-10 px-6 bg-[#122867] text-white
}
.privacy-template h2{
  @apply text-[32px] font-semibold pl-4 border-l-3 border-[#0E42D2]
}
.privacy-template p {
  @apply text-2xl pt-6
}
/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-20 px-30 grid grid-cols-5 gap-8 items-start
}
.footer-note p{
  @apply text-sm font-normal  pt-4
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-sm 
}
.footer-div h5{
  @apply py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-[28px] pb-4
}
.footer-connect p{
  @apply text-sm
}
.connect-input{
  @apply pt-5 text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-full
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-full py-2
}