@import "tailwindcss";

/* NAV */
.top-nav {
  @apply bg-[#122867] text-white py-6 pl-20  flex gap-4;
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply bg-cover bg-center bg-no-repeat w-full h-screen;
  background-image: url('../assets/resourceImg.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-20 pr-[25%];
}
.nav-list {
  @apply flex items-center gap-6 text-white cursor-pointer
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white text-black text-base p-3  border-b-2 border-[#165DFF] absolute top-8 left-2
}
.list ul li{
  @apply block pb-2
}
.list ul li a{
  @apply whitespace-nowrap
}
.logo{
  @apply flex gap-5
}
.bottom-header {
  @apply  mt-40 ml-20 w-1/2 bg-[#122867CC] p-6
}
.bottom-header h1 {
  @apply text-4xl font-bold mb-7 text-[#00AEEF] w-3/4
}
.bottom-header p {
  @apply text-base font-normal text-white leading-7 w-3/4
}

.search-input{
    @apply  px-35 pt-25 pb-8
}
.search-input input{
    @apply w-full p-3 bg-[#F2F3F5] text-base text-[#86909C] cursor-pointer
}
.search-div{
    @apply py-8 flex gap-6 justify-between
}
.search-category{
    @apply flex 
}
.search-category button{
    @apply p-4 bg-[#F2F3F5] border-l-2 border-[#E5E6EB]
}
.search-button{
    @apply text-[#122867] border border-[#122867] py-4 px-6 hover:text-[#00AEEF]  hover:border-[#00AEEF] 
}

/* JOB */
.job{
    @apply px-35 grid grid-cols-2 gap-5 pb-[20%]
}
.job-opening{
    @apply p-6 border border-[#E5E6EB]
}
.job-role{
    @apply flex  gap-4
}
.job-details h6{
    @apply font-semibold text-base
}
.job-details p{
    @apply text-sm
}
.job-details p span{
    @apply font-semibold
}
.job-info{
    @apply flex flex-col gap-3
}
.job-type{
    @apply flex gap-2
}
.job-type p{
   @apply  mt-4 p-1.5 border text-sm rounded-xs border-[#122867] text-[#122867]
}
.job-type .job-contract p{
  @apply bg-[#D0BCFF]
}
.due-date{
    @apply text-[#676767] text-sm p-1.5 border border-[#E5E6EB] w-[30%]
}

/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-4 md:gap-6  lg:gap-8 items-center lg:items-start
}
.footer-note p{
  @apply text-[12px] md:text-sm font-normal  pt-4 
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-[12px] md:text-sm 
}
.footer-div h5{
  @apply py-2 md:py-4 lg:py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-base md:text-xl lg:text-[28px] pb-2 lg:pb-4
}
.footer-connect p{
  @apply text-[12px] md:text-sm 
}
.connect-input{
  @apply pt-5 text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-full
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-full py-2
}