@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif; 
}
body{
  @apply w-full font-roboto
}
/* NAV */
.nav{
  @apply relative
}
.top-nav {
  @apply bg-[#122867] text-white py-4 lg:py-6 pl-8 md:pl-18 lg:pl-32  flex gap-4 items-center;
}
.nav-toggle {
  @apply block lg:hidden cursor-pointer;
}
.top-nav a{
  @apply text-xs md:text-sm lg:text-base
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply w-full
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-5 md:pl-10 lg:pl-20 pr-[5%] md:pr-[10%] lg:pr-[15%]  xl:pr-[25%] ;
}
.desktop-nav{
  @apply hidden lg:flex items-center gap-6 text-white cursor-pointer
}
.desktop-nav div{
  @apply text-white transition delay-200 duration-400 ease-in-out hover:text-xl
}
 .cancel {
  @apply absolute top-4 right-6 cursor-pointer z-50 lg:hidden bg-white p-1.5 rounded-[18px]
}
.nav-list {
  @apply text-white cursor-pointer text-base xl:text-lg 2xl:text-xl;
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white  text-black text-base  border-b-2 border-[#165DFF] absolute  -top-10 left-0 z-50
}
.list ul li{
  @apply block  px-3 py-2 bg-white hover:bg-[#122867] text-black hover:text-white
}
.list ul li a{
  @apply whitespace-nowrap
}
.mobile-nav {
  @apply fixed top-0 left-0 h-screen w-2/4 sm:w-1/4 max-w-xs
         bg-[#122867] text-white
         flex flex-col gap-6
         pt-15 px-6 items-center
         transform -translate-x-full
         transition-transform duration-300 ease-in-out
         z-50 lg:hidden
}
.mobile-nav.open {
  @apply translate-x-0;
}
.logo{
  @apply flex gap-5
}
.active-nav{
  @apply border-b-4 border-white pb-10
}


/* MAIN */
.career-details{
    @apply px-12 md:px-24 lg:px-32 pt-5  pb-[20%]
}
.career-details a{
    @apply text-sm text-[#115FD6] hover:text-[#122867]
}
.career-details button{
    @apply mt-3 bg-[#122867] text-white text-sm sm:text-base px-2 sm:px-4 py-2 rounded-sm hover:bg-[#115FD6]
}
.job-popup{
    @apply bg-[#F7F8FA] px-3 sm:px-5 pt-5 pb-5 mt-5
}
.job-opening{
    @apply p-2 md:p-4 lg:p-6 bg-white border border-[#E5E6EB]
}
.job-role{
    @apply flex gap-2 sm:gap-4
}
.job-details h6{
    @apply font-semibold text-sm sm:text-base
}
.job-details p{
    @apply text-xs sm:text-sm
}
.job-details p span{
    @apply font-semibold
}
.job-info{
    @apply flex flex-col gap-1.5 sm:gap-3
}
.job-type{
    @apply flex  gap-1 sm:gap-2
}
.job-type p{
   @apply  mt-4 p-1 sm:p-1.5 border text-xs sm:text-sm rounded-xs border-[#122867] text-[#122867]
}
.job-type .job-contract p{
  @apply bg-[#D0BCFF]
}
.due-date{
    @apply text-[#676767] text-[10px] sm:text-sm p-1 sm:p-1.5 border border-[#E5E6EB] w-[70%] sm:w-[30%] md:w-[30%] lg:w-[15%] flex justify-center
}
.job-description{
    @apply py-10
}
.job-description p{
    @apply text-[#1D2129] text-sm sm:text-base
}
.job-description h1{
    @apply text-[#122867] text-lg md:text-xl lg:text-[32px] font-semibold pt-10 pb-4 sm:pt-14 sm:pb-6
}
.job-note{
    @apply flex flex-col gap-3 sm:gap-6
}

/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8  items-start
}
.footer-contact-div{
  @apply flex gap-4 md:gap-6 lg:gap-8
}
.footer-note p{
  @apply text-[12px] md:text-sm font-normal  pt-4 
}
.footer-div h3 {
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-[12px] md:text-sm 
}
.footer-div h5{
  @apply py-2 md:py-4 lg:py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-base md:text-xl lg:text-[28px] pb-2 lg:pb-4
}
.footer-connect p{
  @apply text-[12px] md:text-sm 
}
.connect-input{
  @apply pt-5 text-[10px] sm:text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-[70%] md:w-full hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
  outline-none focus:outline-none
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-[70%] md:w-full py-2 hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
}