@import "tailwindcss";

/* NAV */
.top-nav {
   @apply bg-[#122867] text-white py-6 pl-20  flex gap-4 ;
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply w-full
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between h-full pl-20 pr-[25%];
}
.nav-list {
  @apply flex items-center gap-6 text-white
}
.logo{
  @apply flex gap-5
}

/* MAIN */
.career-details{
    @apply px-38 pt-5  pb-[20%]
}
.career-details a{
    @apply text-sm text-[#115FD6]
}
.career-details button{
    @apply mt-3 bg-[#122867] text-white px-4 py-2 rounded-sm hover:bg-[#115FD6]
}
.job-popup{
    @apply bg-[#F7F8FA] px-5 pt-5 pb-5 mt-5
}
.job-opening{
    @apply p-6 bg-white border border-[#E5E6EB]
}
.job-role{
    @apply flex  gap-4
}
.job-details h6{
    @apply font-semibold text-base
}
.job-details p{
    @apply text-sm
}
.job-details p span{
    @apply font-semibold
}
.job-info{
    @apply flex flex-col gap-3
}
.job-type{
    @apply flex gap-2
}
.job-type p{
   @apply  mt-4 p-1.5 border text-sm rounded-xs border-[#122867] text-[#122867]
}
.job-type .job-contract p{
  @apply bg-[#D0BCFF]
}
.due-date{
    @apply text-[#676767] text-sm p-1.5 border border-[#E5E6EB] w-[15%] flex justify-center
}
.job-description{
    @apply py-10
}
.job-description p{
    @apply text-[#1D2129] text-base
}
.job-description h1{
    @apply text-[#122867] text-[32px] font-semibold py-8
}
.job-note{
    @apply flex flex-col gap-6
}

/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-20 px-30 grid grid-cols-5 gap-8 items-start
}
.footer-note p{
  @apply text-sm font-normal  pt-4
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-sm 
}
.footer-div h5{
  @apply py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-[28px] pb-4
}
.footer-connect p{
  @apply text-sm
}
.connect-input{
  @apply pt-5 text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-full
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-full py-2
}