@import "tailwindcss";

/* NAV */
.top-nav {
  @apply bg-[#122867] text-white py-6 pl-20  underline ;
}

.nav-header {
  @apply bg-cover bg-center bg-no-repeat w-full h-screen;
  background-image: url('../assets/resourceImg.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-20 pr-[25%];
}
.nav-list {
  @apply flex items-center gap-6 text-white
}
.bottom-header {
  @apply  mt-40 ml-20 w-1/2 bg-[#122867CC] p-6
}
.bottom-header h1 {
  @apply text-4xl font-bold mb-7 text-[#00AEEF] w-3/4
}
.bottom-header p {
  @apply text-base font-normal text-white leading-7 w-3/4
}

.search-input{
    @apply  px-35 pt-25 pb-8
}
.search-input input{
    @apply w-full p-3 bg-[#F2F3F5] text-base text-[#86909C] cursor-pointer
}
.search-div{
    @apply py-8 flex gap-6 justify-between
}
.search-category{
    @apply flex 
}
.search-category button{
    @apply p-4 bg-[#F2F3F5] border-l-2 border-[#E5E6EB]
}
.search-button{
    @apply text-[#122867] border border-[#122867] py-4 px-6 hover:text-[#00AEEF]  hover:border-[#00AEEF] 
}

/* JOB */
.job{
    @apply px-35 flex flex-col gap-5 pb-10
}
.job-opening{
    @apply p-6 border border-[#E5E6EB]
}
.job-role{
    @apply flex  gap-4
}
.job-details h6{
    @apply font-semibold text-base
}
.job-details p{
    @apply text-sm
}
.job-details p span{
    @apply font-semibold
}
.job-info{
    @apply flex justify-between items-end
}
.job-type{
    @apply flex gap-2
}
.job-type p{
   @apply  mt-4 p-1.5 border text-sm rounded-xs border-[#122867] text-[#122867]
}
.due-date{
    @apply text-[#1D2129] p-1.5 border border-[#E5E6EB]
}

/* FOOTER */
.first-footer{
  @apply text-center py-15
}
.first-footer h2{
  @apply text-4xl font-semibold text-[#1D2129] 
}
.first-footer p{
  @apply text-base font-normal text-[#4E5969] pt-6 pb-12
}
.bottom-input{
  @apply flex items-center w-full max-w-md bg-gray-100 rounded-md overflow-hidden m-auto
}
.bottom-input input{
  @apply flex-1 bg-transparent pl-4 py-3 text-[#86909C] text-sm outline-none cursor-pointer
}
.bottom-input button{
  @apply bg-[#0B1E5B] text-white px-6 py-3 rounded-md text-sm
}
.second-footer{
  @apply bg-[#122867] text-white py-12 px-30 flex flex-col gap-10
}
.footer-note h3{
  @apply text-[32px] font-semibold
}
.footer-note h5{
  @apply text-sm font-normal text-[#E8F3FF]
}
.footer-note p{
  @apply text-sm font-normal w-2/5 pt-4
}
.footer-contact{
  @apply flex justify-between pr-10
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-sm 
}
.footer-div h5{
  @apply py-6
}
.footer-div p{
  @apply pt-1
}
.footer-div div{
  @apply flex items-start gap-2 pb-2
}