@import "tailwindcss";

/* NAV */
.top-nav {
   @apply bg-[#122867] text-white py-6 pl-20  flex gap-4 ;
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply w-full h-[20vh]
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-20 pr-[25%];
}
.nav-list {
  @apply flex items-center gap-6 text-white
}
.logo{
  @apply flex gap-5
}

/* MAIN */
main{
    @apply flex flex-col gap-6 justify-center items-center text-[#122867] h-screen
}
main h3{
    @apply font-semibold text-[32px]
}
main p{
    @apply text-xl
}

/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-20 px-30 grid grid-cols-5 gap-8 items-start
}
.footer-note p{
  @apply text-sm font-normal  pt-4
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-sm 
}
.footer-div h5{
  @apply py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-[28px] pb-4
}
.footer-connect p{
  @apply text-sm
}
.connect-input{
  @apply pt-5 text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-full
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-full py-2
}