@import "tailwindcss";
body{
  @apply w-full
}
/* NAV */
.nav{
  @apply relative
}
.top-nav {
  @apply bg-[#122867] text-white py-4 lg:py-6 pl-8 md:pl-18 lg:pl-32  flex gap-4 items-center;
}
.nav-toggle {
  @apply block lg:hidden cursor-pointer;
}
.top-nav a{
  @apply text-xs md:text-sm lg:text-base
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply bg-cover bg-center bg-no-repeat w-full h-[85vh] lg:h-[95vh] transition-all duration-1000 overflow-hidden;
  background-image: url('../assets/NewHero.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-5 md:pl-10 lg:pl-20 pr-[5%] md:pr-[10%] lg:pr-[15%]  xl:pr-[25%] ;
}
.desktop-nav{
  @apply hidden lg:flex items-center gap-6 text-white cursor-pointer
}
 .cancel {
  @apply absolute top-4 right-6 cursor-pointer z-50 lg:hidden bg-white p-1.5 rounded-[18px]
}
.nav-list {
  @apply text-white cursor-pointer;
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white text-black text-base p-3  border-b-2 border-[#165DFF] absolute top-8 left-2
}
.list ul li{
  @apply block pb-2
}
.list ul li a{
  @apply whitespace-nowrap
}
.mobile-nav {
  @apply fixed top-0 left-0 h-screen w-2/4 sm:w-1/4 max-w-xs
         bg-[#122867] text-white
         flex flex-col gap-6
         pt-15 px-6 items-center
         transform -translate-x-full
         transition-transform duration-300 ease-in-out
         z-50 lg:hidden
}
.mobile-nav.open {
  @apply translate-x-0;
}
.logo{
  @apply flex gap-5
}
.bottom-header {
  @apply text-white mt-[40%] lg:mt-[10%] ml-[5%] w-full md:w-3/4 lg:w-2/4 flex flex-col gap-2 md:gap-4 lg:gap-6 bg-[#122867CC] p-2 md:p-4 lg:p-6 
}
.bottom-header h1 {
  @apply text-lg md:text-2xl lg:text-4xl font-bold mb-0 lg:mb-7 text-[#00AEEF] leading-7
}
.bottom-header p {
  @apply text-xs md:text-base lg:text-xl font-normal
}


/* EVENT */
.event{
    @apply  px-12 md:px-24 lg:px-32 pt-8 md:pt-18 lg:pt-26 pb-8
}
.search-div{
    @apply py-8 flex flex-col md:flex-row gap-3 sm:gap-6 items-center justify-between
}
.search-div input {
    @apply w-full p-3 bg-[#F2F3F5] text-base text-[#86909C] cursor-pointer
}
.search-category{
    @apply flex w-full sm:w-2/3 md:w-full
}
.search-category button{
    @apply p-4 bg-[#F2F3F5] border-l-2 border-[#E5E6EB]
}
.search-button{
    @apply text-[#122867] border border-[#122867] py-2 sm:py-4 px-3 sm:px-6 hover:text-[#00AEEF]  hover:border-[#00AEEF] 
}
.upcoming-event{
    @apply mt-4
}
.event-text{
  @apply border-l-4 border-[#0E42D2] pl-3
}
.event-text h2{
  @apply text-xl md:text-2xl lg:text-3xl font-semibold text-[#122867]
}
.event-text p{
  @apply text-sm md:text-base font-normal text-black
}
.event-grid{
    @apply grid grid-cols-1 md:grid-cols-3 gap-6 mt-10 mb-10
}
.event-div{
    @apply  bg-[#F7F8FA] pt-4
}
.div-text{
    @apply px-5 pb-8
}
.div-text h5{
    @apply text-sm sm:text-base text-[#122867] font-semibold
}
.date, .location{
    @apply flex  gap-2 pt-3 text-[#676767]
}
.location{
    @apply pb-3
}
.event-section{
    @apply px-1.5 m-1 text-[#122867] text-sm inline-block border rounded-xs border-[#122867]
}
.event-div img{
    @apply object-cover w-full
}
.event-div h6{
    @apply text-center py-3 text-sm sm:text-base
}
.past-event .event-text h2{
  @apply text-xl md:text-2xl lg:text-3xl font-semibold text-black
}
.event1{
    @apply pt-6
}
.event2{
    @apply pt-12
}

/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-4 md:gap-6  lg:gap-8 items-center lg:items-start
}
.footer-note p{
  @apply text-[12px] md:text-sm font-normal  pt-4 
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-[12px] md:text-sm 
}
.footer-div h5{
  @apply py-2 md:py-4 lg:py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-base md:text-xl lg:text-[28px] pb-2 lg:pb-4
}
.footer-connect p{
  @apply text-[12px] md:text-sm 
}
.connect-input{
  @apply pt-5 text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-full
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-full py-2
}