@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-segoe: "Segoe UI", sans-serif;
}
@font-face {
  font-family: "SegoeUI";
  src: url("../assets/fonts/Segoe UI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  @apply w-full font-roboto select-none outline-none;
}
p{
  @apply font-segoe
}
input{
  @apply outline-none focus:outline-none
}
/* NAV */
.nav{
  @apply relative
}
.top-nav {
  @apply bg-[#122867] text-white py-4 lg:py-8 pl-8 md:pl-18 lg:pl-32  flex gap-4 items-center fixed top-0 left-0 w-full z-100 ;
}
.nav-toggle {
  @apply block lg:hidden cursor-pointer;
}
.top-nav a{
  @apply text-xs md:text-sm lg:text-base 2xl:text-xl
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply bg-cover bg-center lg:bg-top bg-no-repeat w-full h-[80vh] md:h-[95vh] 2xl:min-h-screen flex flex-col justify-center transition-all duration-1000 overflow-hidden;
  background-image: url('../assets/NewHero.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 2xl:py-8 items-center justify-between pl-5 md:pl-10 lg:pl-20 pr-[5%] md:pr-[10%] lg:pr-[15%]  xl:pr-[25%] fixed top-14 lg:top-22 left-0 w-full z-100 ;
}
.desktop-nav{
  @apply hidden lg:flex items-center gap-6 text-white cursor-pointer
}
.desktop-nav div{
  @apply text-white transition-transform duration-200 ease-out hover:scale-105 select-none outline-none
}
 .cancel {
  @apply absolute top-4 right-6 cursor-pointer z-50 lg:hidden bg-white p-1.5 rounded-[18px]
}
.nav-list {
  @apply text-white cursor-pointer text-base xl:text-lg 2xl:text-2xl
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white  text-black text-base  border-b-2 border-[#165DFF] absolute top-8 left-2 z-50
}
.list ul li{
  @apply block  px-3 py-2 bg-white hover:bg-[#122867] text-black hover:text-white
}
.list ul li a{
  @apply whitespace-nowrap
}
.mobile-nav {
  @apply fixed top-0 left-0 h-screen w-2/4 sm:w-1/4 max-w-xs
         bg-[#122867] text-white
         flex flex-col gap-6
         pt-15 px-6 items-center
         transform -translate-x-full
         transition-transform duration-300 ease-in-out
         z-50 lg:hidden
}
.mobile-nav.open {
  @apply translate-x-0;
}
.logo{
  @apply flex gap-5
}
.hero-body {
  @apply flex-1 flex items-center
}
.bottom-header {
  @apply text-white mt-[40%] md:mt-[10%] ml-[5%] w-[90%] md:w-3/4 lg:w-2/4 flex flex-col gap-2 md:gap-4 lg:gap-6 bg-[#122867CC] p-2 md:p-4 lg:p-6 
}
.bottom-header h1 {
  @apply text-lg md:text-2xl lg:text-4xl 2xl:text-5xl font-bold mb-0 lg:mb-3 text-[#00AEEF] 
}
.bottom-header p {
  @apply text-xs md:text-base lg:text-xl 2xl:text-2xl font-normal
}
.active-nav{
  @apply border-b-4 2xl:border-b-8 border-white pb-10
}



/* EVENT */
.event{
    @apply  px-12 md:px-24 2xl:px-32 pt-8 md:pt-18 lg:pt-26 pb-8
}
.search-div{
    @apply py-8 flex flex-col md:flex-row gap-3 sm:gap-6 items-center justify-between
}
.search-div input {
    @apply w-full p-3 bg-[#F2F3F5] text-base 2xl:text-lg text-[#86909C] cursor-pointer
}
.category{
    @apply flex w-full sm:w-2/3 md:w-full relative
}
.dropdown {
  @apply absolute left-0 top-full mt-1 w-full bg-[#F2F3F5] text-base 2xl:text-lg text-[#86909C] cursor-pointer rounded shadow z-50 ;
}
.dropdown li {
  @apply px-4 py-2 cursor-pointer hover:bg-gray-200;
}

.category button{
    @apply p-4 bg-[#F2F3F5] border-l-2 border-[#E5E6EB]
}
.search-button{
    @apply text-[#122867] border border-[#122867] py-2 sm:py-4 px-3 sm:px-6 hover:text-[#00AEEF]  hover:border-[#00AEEF] 
}
.upcoming-event{
    @apply mt-4
}
.event-text{
  @apply border-l-4 border-[#0E42D2] pl-3
}
.event-text h2{
  @apply text-xl md:text-2xl lg:text-3xl 2xl:text-4xl font-semibold text-[#122867]
}
.event-text p{
  @apply text-sm md:text-base 2xl:text-lg font-normal text-black
}
.event-grid{
    @apply grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-6 mt-10 mb-10
}
.event-div{
    @apply flex flex-col bg-[#F7F8FA] pt-4 hover:shadow-2xl hover:shadow-gray-500/20 transition-shadow transform hover:scale-105 duration-300 h-full
}
.div-text{
    @apply px-5 pb-8
}
.div-text h5{
    @apply text-base 2xl:text-lg text-[#122867] font-semibold
}
.date, .location{
    @apply flex  gap-2 pt-3 text-[#676767] text-base 2xl:text-lg
}
.location{
    @apply pb-3
}
.event-section{
    @apply px-1.5 m-1 text-[#122867] text-sm 2xl:text-base inline-block border rounded-xs border-[#122867]
}
.event-div img{
    @apply object-cover w-full mt-auto
}
.event-div h6{
    @apply text-center py-3 text-sm sm:text-base 2xl:text-lg 
}
.past-event .event-text h2{
  @apply text-xl md:text-2xl lg:text-3xl 2xl:text-4xl font-semibold text-black
}
.past-event{
  @apply pb-[15%]
}


/* FOOTER */
footer {
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 font-segoe;
}
.footer {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8  items-start;
}
.footer-contact-div {
  @apply flex gap-4 md:gap-6 lg:gap-8;
}
.footer-note p {
  @apply text-[12px] md:text-sm 2xl:text-base font-normal pt-4;
}
.footer-div h3 {
  @apply text-base 2xl:text-lg font-semibold pb-2 font-roboto;
}
.footer-div h4,
.footer-div h5,
.footer-div h6,
.footer-div p,
.footer-div div {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.footer-div h5 {
  @apply py-2 md:py-4 lg:py-6;
}
.footer-div p {
  @apply pt-1;
}
.footer-social div {
  @apply flex items-center gap-2 pb-2;
}
.footer-connect h3 {
  @apply text-base md:text-xl lg:text-[28px] 2xl:text-3xl pb-2 lg:pb-4 font-roboto;
}
.footer-connect p {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.connect-input {
  @apply pt-5 text-[10px] sm:text-xs 2xl:text-sm;
}
.footer-connect input {
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-[70%] md:w-full hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
  outline-none focus:outline-none;
}
.footer-connect button {
  @apply bg-[#1679CB] text-white mt-3 w-[70%] md:w-full py-4 hover:py-4.5 hover:text-base transition delay-200 duration-400 ease-in-out rounded-lg;
}
footer h1 {
  @apply pt-8 text-center text-[17px] font-normal cursor-pointer;
}
footer h1 a {
  @apply underline;
}