@import "tailwindcss";

/* NAV */
.top-nav {
   @apply bg-[#122867] text-white py-6 pl-20  flex gap-4 ;
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply w-full
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between h-full pl-20 pr-[25%];
}
.nav-list {
  @apply flex items-center gap-6 text-white cursor-pointer
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white text-black text-base p-3  border-b-2 border-[#165DFF] absolute -top-12 left-0
}
.list ul li{
  @apply block pb-2
}
.list ul li a{
  @apply whitespace-nowrap
}
.logo{
  @apply flex gap-5
}

/* MAIN */
main{
    @apply px-32 pt-15 pb-20
}
.highlight a{
    @apply text-[#115FD6] text-sm
}
.highlight-title{
    @apply pt-8 flex flex-col gap-6
}
.highlight-title h6{
    @apply text-[#115FD6] text-xs
}
.highlight-title h2{
    @apply text-[#122867] text-[32px] font-semibold
}
.title-info{
    @apply flex gap-4
}
.title-info p{
    @apply flex gap-2 items-center text-xs text-[#4E5969]
}
.highlight-img{
    @apply relative py-10
}
.highlight-img img{
    @apply w-full object-cover
}
.social-media{
    @apply flex items-center gap-4 absolute top-0 left-[15%] p-3 bg-white rounded-md
}

.highlight-note{
    @apply flex items-start gap-16 pt-[5%] pb-[20%] relative
}
.highlight-text{
    @apply w-3/5
}
.past-highlight{
    @apply w-2/5 py-6 px-[10%] sticky top-24
}
.past-highlight h6{
    @apply text-white bg-[#122867] text-base font-semibold py-4 px-6
}
.past-highlight p{
    @apply py-4 border-b border-[#E5E6EB] text-base text-[#1D2129] font-semibold
}
.past-highlight a{
    @apply text-[#122867]
}
.register-note{
    @apply py-6 flex flex-col gap-6 text-[#1D2129] text-base 
}
.highlight-text h2{
    @apply text-[#122867] text-[32px] font-semibold
}


/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-4 md:gap-6  lg:gap-8 items-center lg:items-start
}
.footer-note p{
  @apply text-[12px] md:text-sm font-normal  pt-4 
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-[12px] md:text-sm 
}
.footer-div h5{
  @apply py-2 md:py-4 lg:py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-base md:text-xl lg:text-[28px] pb-2 lg:pb-4
}
.footer-connect p{
  @apply text-[12px] md:text-sm 
}
.connect-input{
  @apply pt-5 text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-full
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-full py-2
}