@import "tailwindcss";

/* NAV */
.top-nav {
  @apply bg-[#122867] text-white py-6 pl-20  flex gap-4;
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply bg-cover bg-center bg-no-repeat w-full h-screen;
  background-image: url('../assets/alumniImg.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-20 pr-[25%];
}
.nav-list {
  @apply flex items-center gap-6 text-white
}
.logo{
  @apply flex gap-5
}
.bottom-header {
  @apply  mt-40 ml-20 w-1/2 bg-[#122867CC] p-6
}
.bottom-header h1 {
  @apply text-4xl font-bold mb-7 text-[#00AEEF]
}
.bottom-header p {
  @apply text-base font-normal text-white leading-7
}

/* SECTION */
.footprint-content{
    @apply px-[15%] py-20 flex items-center gap-4
}
.global-img{
  @apply w-full
}
.global-text{
    @apply border-l-3 border-[#0E42D2] pl-3 mb-5
}
.global-text h1{
      @apply text-3xl font-semibold text-[#122867]
}
.global-text p{
     @apply text-base font-normal text-[#676767] 
}
.global-div{
    @apply mt-10 flex justify-between
}
.global-note div{
    @apply text-[#1D2129] text-base pb-3
}
.global-note div h2{
    @apply  font-semibold
}
.global-note div p{
    @apply  font-normal
}
.bottomFootprint{
    @apply flex text-[#23E0FE] py-6 bg-[#122867]   justify-evenly items-center
}
.bottomFootprint h1{
    @apply text-2xl font-semibold py-1.5 px-4 border-r-2 border-[#23E0FE]
}
.bottom-div{
    @apply flex gap-4
}
.bottom-div div h3{
    @apply text-xl font-semibold
}
.bottom-div div p{
    @apply text-sm font-normal
}

/* JOIN US */
.join-us{
    @apply px-[15%] py-20
}
.statement{
  @apply bg-cover bg-center bg-no-repeat py-5 flex gap-10;
  background-image: url('src/assets/joinBackground.png');
}
.mission{
  @apply border border-[#00AEEF] bg-[#EFFBF9] p-7 rounded-lg w-1/2
}
.mission div{
  @apply flex items-center justify-between pb-2
}
.mission div h3{
  @apply text-2xl font-semibold text-[#00AEEF]
}
.mission h6{
  @apply block text-[#1D2129] text-xl
}
.first-join{
  @apply py-22
}
.join-text{
  @apply w-1/2
}
.join-img{
  @apply w-1/2
}
.join-us h1{
    @apply text-[32px] font-semibold text-[#122867]
}
.join-us h3{
    @apply text-xl py-6  leading-7 
}
.join-us p{
    @apply text-base text-[#122867] 
}
.join-div {
    @apply  flex  gap-8
}



/* CONNECT */
.connect {
    @apply px-[20%] py-10 bg-[#B0EEF8]
}
.connect h1 {
    @apply text-[32px] font-semibold text-center text-[#122867]
}
.connect p {
    @apply text-base font-normal text-center text-[#4E5969] py-3 
}
.connect-grid {
    @apply grid grid-cols-3 gap-5 mt-10 m-auto
}
.connect-grid div, .grid-div div {
    @apply border bg-[#122867] p-5 text-white
}
.connect-grid div h6, .grid-div div h6 {
    @apply text-lg font-semibold 
}
.connect-grid div p, .grid-div div p {
    @apply text-sm font-normal text-white
}
.grid-div{
  @apply flex justify-center my-5 gap-5
}
.grid-div div {
  @apply w-1/3
}

/* NETWORK */
.network{
  @apply py-25
}
.second-join{
    @apply flex pr-[15%]
}
.contact-text{
    @apply bg-[#122867] text-white py-9  pl-[15%] w-1/2
}
.contact-text h2{
    @apply text-base font-semibold
}
.contact-text p{
    @apply text-white text-sm w-3/4 py-5
}
.contact-text button{
    @apply bg-white text-[#4E5969] py-3 px-5 rounded-sm cursor-pointer text-sm 
}
.second-join-img{
    @apply w-1/2
}
.second-join-img img{
    @apply w-full h-full object-cover 
}

/* COUNCIL */

.council{
  @apply pb-25
}
.counter-text{
  @apply pl-[5%] 
}
.counter-text h2{
  @apply text-[#122867] text-[32px] font-semibold
}
.counter-text h6{
  @apply text-[#4E5969] text-base w-1/2 pt-2
}
.council-template{
  @apply flex pl-30 gap-5 py-8 overflow-x-auto overflow-y-hidden
}
.template-grid{
  @apply min-w-[260px] max-w-[260px] shrink-0 relative
}
.template-grid img{
  @apply w-full
}
.grid-text{
  @apply absolute bottom-0 bg-[#0E42D280] text-white p-3 w-full
}
.grid-text h4{
  @apply text-base
}
.grid-text h5, .grid-text h6{
  @apply text-[12px]
}
.grid-text h6{
  @apply italic pb-2
}


/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-20 px-30 grid grid-cols-5 gap-8 items-start
}
.footer-note p{
  @apply text-sm font-normal  pt-4
}
.footer-div h3{
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-sm 
}
.footer-div h5{
  @apply py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-[28px] pb-4
}
.footer-connect p{
  @apply text-sm
}
.connect-input{
  @apply pt-5 text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-full
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-full py-2
}