/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "tailwindcss";
@theme {
  /* --font-roboto: "Roboto", sans-serif; */
  --font-segoe: "Segoe UI", sans-serif;
}
body {
  @apply w-full font-segoe select-none outline-none;
}
/* NAV */
.nav {
  @apply relative;
}
.top-nav {
  @apply bg-[#122867] text-white py-4 lg:py-8 pl-8 md:pl-18 lg:pl-32  flex gap-4 items-center fixed top-0 left-0 w-full z-100;
}
.nav-toggle {
  @apply block lg:hidden cursor-pointer;
}
.top-nav a {
  @apply text-xs md:text-sm lg:text-base 2xl:text-xl;
}
.nav-community {
  @apply underline border-r-2  pr-4;
}
.nav-header {
  @apply bg-cover bg-center lg:bg-top bg-no-repeat w-full h-[80vh] md:h-[95vh] 2xl:min-h-screen flex flex-col justify-center transition-all duration-1000 overflow-hidden;
  background-image: url("../assets/alumniImg.png");
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 2xl:py-8 items-center justify-between pl-5 md:pl-10 lg:pl-20 pr-[5%] md:pr-[10%] lg:pr-[15%]  xl:pr-[25%] fixed top-14 lg:top-22 left-0 w-full z-100;
}
.desktop-nav {
  @apply hidden lg:flex items-center gap-6 text-white cursor-pointer;
}
.desktop-nav div {
  @apply text-white transition-transform duration-200 ease-out hover:scale-105;
}
.cancel {
  @apply absolute top-4 right-6 cursor-pointer z-50 lg:hidden bg-white p-1.5 rounded-[18px];
}
.nav-list {
  @apply text-white cursor-pointer text-base xl:text-lg 2xl:text-2xl;
}
.list {
  @apply relative;
}
.list ul {
  @apply bg-white  text-black text-base  border-b-2 border-[#165DFF] absolute top-8 left-2;
}
.list ul li {
  @apply block  px-3 py-2 bg-white hover:bg-[#122867] text-black hover:text-white z-50;
}
.list ul li a {
  @apply whitespace-nowrap;
}
.mobile-nav {
  @apply fixed top-0 left-0 h-screen w-2/4 sm:w-1/4 max-w-xs
         bg-[#122867] text-white
         flex flex-col gap-6
         pt-15 px-6 items-center
         transform -translate-x-full
         transition-transform duration-300 ease-in-out
         z-50 lg:hidden;
}
.mobile-nav.open {
  @apply translate-x-0;
}
.logo {
  @apply flex gap-5;
}
.hero-body {
  @apply flex-1 flex items-center;
}
.bottom-header {
  @apply text-white ml-[5%] w-[90%] md:w-3/4 lg:w-2/4 2xl:w-2/5 flex flex-col gap-2 md:gap-4 lg:gap-6 justify-center bg-[#122867CC] p-2 md:p-4 lg:p-6 select-none outline-none mt-[15%];
}
.bottom-header h1 {
  @apply text-lg md:text-2xl lg:text-4xl 2xl:text-5xl font-bold mb-0 lg:mb-3 text-[#00AEEF];
}
.bottom-header p {
  @apply text-xs md:text-base lg:text-xl 2xl:text-2xl font-normal;
}
.bottom-header a {
  @apply inline;
}
.active-nav {
  @apply border-b-4 2xl:border-b-8 border-white pb-10;
}

/* SECTION */
.footprint-content {
  @apply px-8 md:px-18 lg:px-24 py-20 flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-8;
}
.global-img {
  @apply w-full lg:w-1/2;
}
.global-img img {
  @apply object-cover w-full;
}
.global-text {
  @apply border-l-3 border-[#0E42D2] pl-3 mb-5;
}
.global-text h1 {
  @apply text-xl md:text-2xl lg:text-3xl 2xl:text-4xl font-semibold text-[#122867];
}
.global-text p {
  @apply text-xs md:text-sm lg:text-base 2xl:text-lg font-normal text-[#676767];
}
.global-div {
  @apply mt-10 flex justify-between;
}
.global-note div {
  @apply text-[#1D2129] text-base 2xl:text-lg pb-3;
}
.global-note div h2 {
  @apply font-semibold;
}
.global-note div p {
  @apply font-normal;
}
.bottomFootprint {
  @apply grid text-[#23E0FE] py-6 bg-[#122867] grid-cols-2  md:grid-cols-3 lg:grid-cols-6 px-12 gap-4 md:gap-0 justify-center items-center;
}
.bottomFootprint h1 {
  @apply text-base md:text-xl lg:text-2xl 2xl:text-3xl  font-semibold text-center;
}
/* .footprint-div{
@apply border-l-2 border-[#23E0FE]
} */
.bottom-div {
  @apply flex items-center justify-center gap-2 lg:gap-4;
}
.bottom-div div h3 {
  @apply text-sm md:text-lg lg:text-xl 2xl:text-2xl font-semibold;
}
.bottom-div div p {
  @apply text-[8px] md:text-[10px] lg:text-sm 2xl:text-base font-normal;
}

/* JOIN US */
.join-us {
  @apply px-8 md:px-18 lg:px-24 py-20;
}
.statement {
  @apply bg-cover bg-center bg-no-repeat py-5 flex flex-col md:flex-row gap-5 md:gap-10 2xl:gap-12 items-center;
  background-image: url("src/assets/joinBackground.png");
}
.mission {
  @apply border border-[#00AEEF] bg-[#EFFBF9] p-7 rounded-lg w-full md:w-1/2 h-[250px] sm:h-[200px] md:h-[290px];
}
.mission div {
  @apply flex items-center justify-between pb-2;
}
.mission div h3 {
  @apply text-base sm:text-xl lg:text-2xl 2xl:text-3xl font-semibold text-[#00AEEF];
}
.mission h6 {
  @apply block text-[#1D2129] text-sm sm:text-base lg:text-xl 2xl:text-2xl;
}
.first-join {
  @apply py-22;
}
.join-text {
  @apply w-full md:w-1/2;
}
.join-img {
  @apply w-full md:w-1/2;
}
.join-us h1 {
  @apply text-lg md:text-xl lg:text-[32px] 2xl:text-4xl font-semibold text-[#122867];
}
.join-us h3 {
  @apply text-sm sm:text-base lg:text-xl 2xl:text-2xl py-6  leading-7;
}
.join-us p {
  @apply text-xs md:text-sm text-base 2xl:text-lg text-[#122867];
}
.join-div {
  @apply flex flex-col md:flex-row items-center justify-center gap-8;
}

/* CONNECT */
.connect {
  @apply px-8 md:px-18 lg:px-24 py-10 bg-[linear-gradient(90deg,#B0EEF8_0%,#FFFFFF_100%)];
  /* background-image: url('../assets/Joyent.png'); */
}
.connect h1 {
  @apply text-lg md:text-xl lg:text-[32px] 2xl:text-4xl font-semibold text-center text-[#122867];
}
.connect .subtitle {
  @apply text-xs md:text-sm lg:text-base 2xl:text-lg text-[#4E5969] text-center m-auto;
}
.connect p {
  @apply text-xs md:text-sm lg:text-base 2xl:text-lg font-normal text-white py-3;
}
.connect-grid {
  @apply grid grid-cols-1 sm:grid-cols-3 gap-5 mt-10 m-auto w-2/3 sm:w-full;
}
.connect-grid div,
.grid-div div {
  @apply border bg-[#122867] p-5 text-white xl:py-8;
}
.connect-grid div h6,
.grid-div div h6 {
  @apply text-sm md:text-base lg:text-lg 2xl:text-xl font-semibold;
}
.connect-grid div p,
.grid-div div p {
  @apply text-xs md:text-sm 2xl:text-base font-normal text-white;
}
.grid-div {
  @apply flex flex-col sm:flex-row items-center justify-center my-5  gap-5;
}
.grid-div div {
  @apply w-2/3 lg:w-1/3;
}

/* NETWORK */
.network {
  @apply py-25;
}
.second-join {
  @apply flex pr-8 md:pr-18 lg:pr-24;
}
.contact-text {
  @apply bg-[#122867] text-white py-9 px-4 md:pl-12 lg:pl-36 w-[35%];
}
.contact-text h2 {
  @apply text-xs md:text-sm lg:text-base 2xl:text-lg font-semibold;
}
.contact-text p {
  @apply text-white text-[8px] md:text-sm 2xl:text-base w-full md:w-3/4 py-3 md:py-5;
}
.contact-text button {
  @apply bg-white text-[#4E5969] py-2 md:py-3 px-5 rounded-sm cursor-pointer text-[8px] md:text-sm 2xl:text-base hover:bg-[#23E0FE] transition duration-400 ease-in-out hover:text-white;
}
.second-join-img {
  @apply w-1/2;
}
.second-join-img img {
  @apply w-full h-full object-cover;
}

/* COUNCIL */

.council {
  @apply pb-25;
}
.counter-text {
  @apply pl-[5%];
}
.counter-text h2 {
  @apply text-[#122867] text-xl md:text-2xl lg:text-[32px] 2xl:text-4xl font-semibold;
}
.counter-text h6 {
  @apply text-[#4E5969] text-xs md:text-sm lg:text-base 2xl:text-lg w-full md:w-1/2 pt-2;
}
.council-template {
  @apply flex pl-[7%] xl:pl-[12%] md:pl-[15%] 2xl:pl-[22%] gap-5 xl:gap-7 py-8 overflow-x-auto overflow-y-hidden;
}
.template-grid {
  @apply min-w-[260px] max-w-[260px] shrink-0 relative;
}
.template-grid img {
  @apply w-full;
}
.grid-text {
  @apply absolute bottom-0 bg-[#0f182ee4] text-white p-3 w-full;
}
.grid-text h4 {
  @apply text-xs md:text-sm lg:text-base 2xl:text-lg;
}
.grid-text h5,
.grid-text h6 {
  @apply text-[12px] 2xl:text-base;
}
.grid-text h6 {
  @apply italic pb-2;
}

/* FOOTER */
footer {
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24;
}
.footer {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8  items-start;
}
.footer-contact-div {
  @apply flex gap-4 md:gap-6 lg:gap-8;
}
.footer-note p {
  @apply text-[12px] md:text-sm 2xl:text-base font-normal pt-4;
}
.footer-div h3 {
  @apply text-base 2xl:text-lg font-semibold pb-2;
}
.footer-div h4,
.footer-div h5,
.footer-div h6,
.footer-div p,
.footer-div div {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.footer-div h5 {
  @apply py-2 md:py-4 lg:py-6;
}
.footer-div p {
  @apply pt-1;
}
.footer-social div {
  @apply flex items-center gap-2 pb-2;
}
.footer-connect h3 {
  @apply text-base md:text-xl lg:text-[28px] 2xl:text-3xl pb-2 lg:pb-4;
}
.footer-connect p {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.connect-input {
  @apply pt-5 text-[10px] sm:text-xs 2xl:text-sm;
}
.footer-connect input {
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-[70%] md:w-full hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
  outline-none focus:outline-none;
}
.footer-connect button {
  @apply bg-[#1679CB] text-white mt-3 w-[70%] md:w-full py-4 hover:py-4.5 hover:text-base transition delay-200 duration-400 ease-in-out rounded-lg;
}
footer h1 {
  @apply pt-8 text-center text-[17px] font-normal cursor-pointer;
}
footer h1 a {
  @apply underline;
}
