@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-segoe: "Segoe UI", sans-serif;
}
@font-face {
  font-family: "SegoeUI";
  src: url("../assets/fonts/Segoe UI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  @apply w-full font-roboto select-none outline-none;
}
p{
  @apply font-segoe
}
input {
  @apply outline-none focus:outline-none;
}
.alumni {
  @apply w-screen h-screen bg-[#E8F3FF] flex  items-center justify-center;
}
.alumni-access {
  @apply bg-[#ffffff] w-[80vw] h-[75vh] md:h-[95vh] rounded-sm shadow-xl flex  overflow-hidden;
}
.login {
  @apply py-2.5 md:py-5 2xl:py-[3%] px-2 md:px-5 lg:px-10 w-full md:w-1/2 lg:w-2/5;
}
.login-img {
  @apply  md:w-1/2 lg:w-3/5 hidden md:block;
}
.login-img img {
  @apply w-full h-full object-cover;
}
.login img {
  @apply w-[25%];
}
.login-details {
  @apply mt-12 md:mt-5 2xl:mt-[8%];
}
.login-details h2 {
  @apply text-base sm:text-xl md:text-2xl lg:text-4xl 2xl:text-5xl text-[#122867];
}
.login-details p {
  @apply text-[10px] md:text-sm 2xl:text-base text-[#676767] py-3;
}
.login-input {
  @apply border border-[#E5E6EB] p-4 md:p-6 flex flex-col mt-2 md:mt-0;
}
.login-input h4 {
  @apply text-base md:text-xl lg:text-2xl 2xl:text-3xl text-[#122867];
}
.login-input p {
  @apply text-[10px] md:text-sm 2xl:text-base text-[#676767] py-3;
}
.login-input p span {
  @apply text-[#122867] cursor-pointer;
}
.login-input input {
  @apply bg-[#F2F3F5] rounded-sm p-1 md:p-2 mb-1 md:mb-3 text-[10px] md:text-sm 2xl:text-base text-[#86909C];
}
.login-input button {
  @apply bg-[#122867] text-white p-1 md:p-2 hover:bg-[#1679CB] cursor-pointer mb-1 md:mb-1.5 text-[10px] sm:text-base;
}
