@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif; 
}
body{
  @apply w-full font-roboto
}
input{
   @apply outline-none focus:outline-none
}
.alumni{
  @apply w-screen h-screen bg-[#E8F3FF] flex  items-center justify-center;
}
.alumni-access{
      @apply bg-[#ffffff] w-[80vw] h-[75] md:h-[95vh] rounded-sm shadow-xl flex  overflow-hidden;
}
.login{
    @apply py-2.5 md:py-5 px-2 md:px-5 lg:px-10 w-1/2 md:w-2/5
}
.login-img{
    @apply w-1/2 md:w-3/5
}
.login-img img{
    @apply w-full h-full object-cover
}
.login img{
    @apply w-[25%]
}
.login-details{
    @apply mt-10
}
.login-details h2{
    @apply text-base sm:text-xl md:text-2xl lg:text-4xl text-[#122867]
}
.login-details p{
    @apply text-[10px] md:text-sm text-[#676767] py-3
}
.login-input{
    @apply border border-[#E5E6EB] p-3 md:p-6 flex flex-col
}
.login-input h4{
    @apply text-base md:text-xl lg:text-2xl text-[#122867]
}
.login-input p{
    @apply text-[10px] md:text-sm text-[#676767] py-3
}
.login-input p span{
    @apply text-[#122867] cursor-pointer
}
.login-input input{
    @apply bg-[#F2F3F5] rounded-sm p-1 md:p-2 mb-1 md:mb-3 text-[10px] md:text-sm text-[#86909C] 
}
.login-input button{
    @apply bg-[#122867] text-white p-1 md:p-2 hover:bg-[#1679CB] cursor-pointer mb-1 md:mb-1.5 text-[10px] sm:text-base 
}