@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-segoe: "Segoe UI", sans-serif;
}
@font-face {
  font-family: "SegoeUI";
  src: url("../assets/fonts/Segoe UI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  @apply w-full font-roboto select-none outline-none;
}
p{
  @apply font-segoe
}
/* NAV */
.nav{
  @apply relative 
}
.top-nav {
  @apply bg-[#122867] text-white py-4 lg:py-8 pl-8 md:pl-18 lg:pl-32  flex gap-4 items-center fixed top-0 left-0 w-full z-100;
}
.nav-toggle {
  @apply block lg:hidden cursor-pointer;
}
.top-nav a{
  @apply text-xs md:text-sm lg:text-base 2xl:text-xl
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply bg-cover bg-center lg:bg-top bg-no-repeat w-full h-[80vh] md:h-[95vh] 2xl:min-h-screen flex flex-col justify-center transition-all duration-1000 overflow-hidden;
  background-image: url('../assets/alumniImg.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 2xl:py-8 items-center justify-between pl-5 md:pl-10 lg:pl-20 pr-[5%] md:pr-[10%] lg:pr-[15%]  xl:pr-[25%] fixed top-14 lg:top-22 left-0 w-full z-100 ;
}
.desktop-nav{
  @apply hidden lg:flex items-center gap-6 text-white cursor-pointer
}
.desktop-nav div{
  @apply text-white transition-transform duration-200 ease-out hover:scale-105 select-none outline-none
}
 .cancel {
  @apply absolute top-4 right-6 cursor-pointer z-50 lg:hidden bg-white p-1.5 rounded-[18px]
}
.nav-list {
  @apply text-white cursor-pointer text-base xl:text-lg 2xl:text-2xl
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white  text-black text-base  border-b-2 border-[#165DFF] absolute top-8 left-2 z-50
}
.list ul li{
  @apply block  px-3 py-2 bg-white hover:bg-[#122867] text-black hover:text-white
}
.list ul li a{
  @apply whitespace-nowrap
}
.mobile-nav {
  @apply fixed top-0 left-0 h-screen w-2/4 sm:w-1/4 max-w-xs
         bg-[#122867] text-white
         flex flex-col gap-6
         pt-15 px-6 items-center
         transform -translate-x-full
         transition-transform duration-300 ease-in-out
         z-50 lg:hidden
}
.mobile-nav.open {
  @apply translate-x-0;
}
.logo{
  @apply flex gap-5
}
.hero-body {
  @apply flex-1 flex items-center;
}
.bottom-header {
  @apply text-white mt-[40%] lg:mt-[10%] ml-[5%] w-[90%] sm:w-3/4 lg:w-2/4 flex flex-col gap-2 md:gap-4 lg:gap-6 bg-[#F2F3F5] p-6 border-b-2 border-[#165DFF] md:p-4 lg:p-6 absolute left-3 md:left-15 lg:left-18 -bottom-16
}
.bottom-header h1 {
  @apply text-lg md:text-2xl lg:text-4xl 2xl:text-5xl font-bold mb-0 lg:mb-3 text-[#122867]
}
.bottom-header p {
  @apply text-xs md:text-base lg:text-xl 2xl:text-2xl font-normal text-black
}
.bottom-header a{
  @apply inline
}
.nav-label {
  @apply relative inline-block;
}
 .nav-label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -45px;        
  width: 100%;
  height: 6px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.1s ease;
}
.nav-label.active-nav::after {
  transform: scaleX(1);
}

/* MAIN */
.insights{
    @apply px-8 md:px-24 2xl:px-36 py-30
}
.insights-title{
    @apply bg-[#122867] text-white p-5 md:p-10
}
.insights-title h2{
    @apply text-xl md:text-2xl lg:text-[32px] 2xl:text-4xl font-semibold
}
.insights-title p{
    @apply text-xs md:text-sm lg:text-base 2xl:text-lg py-2
}
.insights-template{
    @apply flex flex-col lg:flex-row py-6 gap-6
}
.insight-div{
    @apply relative
}
.insight-div img{
    @apply w-full object-cover h-full
}
.insight-div h6{
    @apply absolute top-0 text-[8px] md:text-xs lg:text-sm 2xl:text-base bg-[#122867] text-white p-1 md:p-3
}
.insight-div div{
    @apply absolute bottom-0 bg-[#0f182ee4] w-full p-1 md:p-4 text-white
}
.template-div{
    @apply w-full lg:w-2/3
}
.template-div h5{
    @apply text-base md:text-lg lg:text-xl 2xl:text-2xl font-semibold
}
.template-div p{
    @apply text-[8px] md:text-xs lg:text-sm 2xl:text-base
}
.insight{
    @apply flex flex-col gap-3 md:gap-6 w-full lg:w-1/3
}
.insight h5{
     @apply text-[8px] md:text-xs lg:text-sm 2xl:text-base font-semibold
}
.insight p{
     @apply text-[8px] md:text-xs lg:text-sm 2xl:text-base
}
.event{
    @apply bg-[#122867] text-white mb-8 px-8 md:px-24 2xl:px-36 py-15
}
.event-title h2{
    @apply text-xl md:text-2xl lg:text-[32px] 2xl:text-4xl font-semibold
}
.event-title p{
    @apply text-xs md:text-sm lg:text-base 2xl:text-base py-2 w-full md:w-2/3 lg:w-1/3
}
.event-div{
    @apply flex flex-col lg:flex-row justify-center items-center gap-6 py-6
}
.event-details{
    @apply relative w-full lg:w-1/3
}
.event-details img{
    @apply w-full
}
.event-details h5{
    @apply bg-[#122867] text-white absolute top-0 p-3 text-sm 2xl:text-base
}
.event-text{
    @apply bg-[#0f182ee4] absolute bottom-0 p-3 text-sm 2xl:text-base
}
.event-text h6{
    @apply font-semibold
}

.recent-news{
    @apply px-8 md:px-24 2xl:px-36 py-15
}
.recent-news-title{
    @apply border-l-4 border-[#122867] pl-4
}
.recent-news-title h2{
    @apply text-[#122867] text-xl md:text-2xl lg:text-[32px] 2xl:text-4xl font-semibold
}
.recent-news-title p{
    @apply text-[#1D2129] text-xs md:text-sm lg:text-base 2xl:text-lg w-full md:w-3/4 lg:w-2/5 
}
.news-template{
    @apply pt-8 flex flex-col lg:flex-row relative items-center lg:items-start gap-10 md:gap-14 2xl:gap-20
}
.template-cards{
    @apply flex flex-col gap-6 w-full lg:w-[70%]
}
.template{
    @apply flex flex-col sm:flex-row gap-4
}
.template-note{
    @apply w-full sm:w-1/2 flex flex-col gap-3
}
.template-note h6{
    @apply text-sm sm:text-base 2xl:text-lg text-[#122867]
}
.template-note h4{
    @apply font-semibold text-[#122867] text-base sm:text-[18px] 2xl:text-xl
}
.template-text{
    @apply flex items-center gap-4
}
.template-text p{
    @apply flex gap-2 items-center
}
.template-alumni{
    @apply w-full lg:w-[30%] pb-2 border-b-2  border-[#165DFF] sticky top-24
}
.template-title{
    @apply text-base sm:text-2xl 2xl:text-3xl text-white font-semibold p-3 bg-[#00227FE5] font-roboto
}
.template-alumni img{
    @apply w-full h-full object-cover;
}
.card-div{
  @apply bg-white py-4
}
.card-div h2{
  @apply text-[#1D2129] text-base sm:text-[23px] 2xl:text-[28px]
}
.card-div h4{
  @apply text-[#4E5969] text-sm sm:text-base 2xl:text-lg
}
.card-div p{
  @apply pt-2 text-sm sm:text-base 2xl:text-lg text-[#4E5969] italic
}
.card-div a {
  @apply text-sm sm:text-base 2xl:text-lg underline text-[#122867]
}

/* FOOTER */
footer {
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 font-segoe;
}
.footer {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8  items-start;
}
.footer-contact-div {
  @apply flex gap-4 md:gap-6 lg:gap-8;
}
.footer-note p {
  @apply text-[12px] md:text-sm 2xl:text-base font-normal pt-4;
}
.footer-div h3 {
  @apply text-base 2xl:text-lg font-semibold pb-2 font-roboto;
}
.footer-div h4,
.footer-div h5,
.footer-div h6,
.footer-div p,
.footer-div div {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.footer-div h5 {
  @apply py-2 md:py-4 lg:py-6;
}
.footer-div p {
  @apply pt-1;
}
.footer-social div {
  @apply flex items-center gap-2 pb-2;
}
.footer-connect h3 {
  @apply text-base md:text-xl lg:text-[28px] 2xl:text-3xl pb-2 lg:pb-4 font-roboto;
}
.footer-connect p {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.connect-input {
  @apply pt-5 text-[10px] sm:text-xs 2xl:text-sm;
}
.footer-connect input {
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-[70%] md:w-full hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
  outline-none focus:outline-none;
}
.footer-connect button {
  @apply bg-[#1679CB] text-white mt-3 w-[70%] md:w-full py-4 hover:py-4.5 hover:text-base transition delay-200 duration-400 ease-in-out rounded-lg;
}
footer h1 {
  @apply pt-8 text-center text-[17px] font-normal cursor-pointer;
}
footer h1 a {
  @apply underline;
}
