@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif; 
}
body{
  @apply w-full font-roboto
}
/* NAV */
.nav{
  @apply relative
}
.top-nav {
  @apply bg-[#122867] text-white py-4 lg:py-6 pl-8 md:pl-18 lg:pl-32  flex gap-4 items-center;
}
.nav-toggle {
  @apply block lg:hidden cursor-pointer;
}
.top-nav a{
  @apply text-xs md:text-sm lg:text-base
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply bg-cover bg-center bg-no-repeat w-full h-[85vh] lg:h-[95vh] transition-all duration-1000 overflow-hidden;
  background-image: url('../assets/alumniImg.png');
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 items-center justify-between pl-5 md:pl-10 lg:pl-20 pr-[5%] md:pr-[10%] lg:pr-[15%]  xl:pr-[25%] ;
}
.desktop-nav{
  @apply hidden lg:flex items-center gap-6 text-white cursor-pointer
}
.desktop-nav div{
  @apply text-white transition delay-200 duration-400 ease-in-out hover:text-xl
}
 .cancel {
  @apply absolute top-4 right-6 cursor-pointer z-50 lg:hidden bg-white p-1.5 rounded-[18px]
}
.nav-list {
  @apply text-white cursor-pointer text-base xl:text-lg 2xl:text-xl;
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white  text-black text-base  border-b-2 border-[#165DFF] absolute top-8 left-2
}
.list ul li{
  @apply block  px-3 py-2 bg-white hover:bg-[#122867] text-black hover:text-white
}
.list ul li a{
  @apply whitespace-nowrap
}
.mobile-nav {
  @apply fixed top-0 left-0 h-screen w-2/4 sm:w-1/4 max-w-xs
         bg-[#122867] text-white
         flex flex-col gap-6
         pt-15 px-6 items-center
         transform -translate-x-full
         transition-transform duration-300 ease-in-out
         z-50 lg:hidden
}
.mobile-nav.open {
  @apply translate-x-0;
}
.logo{
  @apply flex gap-5
}
.bottom-header {
  @apply text-white mt-[40%] lg:mt-[10%] ml-[5%] w-[90%] md:w-3/4 lg:w-2/4 flex flex-col gap-2 md:gap-4 lg:gap-6 bg-[#122867CC] p-2 md:p-4 lg:p-6 
}
.bottom-header h1 {
  @apply text-lg md:text-2xl lg:text-4xl font-bold mb-0 lg:mb-3 text-[#00AEEF]
}
.bottom-header p {
  @apply text-xs md:text-base lg:text-xl font-normal
}
.bottom-header a{
  @apply inline
}

/* MAIN */
.spotlight-list{
  @apply  px-12 md:px-24 lg:px-32 pt-[10%] pb-[20%] 
}
.hightlight{
    @apply flex 
}
.highlight-text {
    @apply w-1/2 sm:w-1/3 bg-[#122867] text-white px-3 md:px-6 lg:px-12 py-4 md:py-8
}
.highlight-text h2{
    @apply text-lg md:text-2xl lg:text-[32px] font-semibold
}
.highlight-text h4{
    @apply text-xs sm:text-base xl:text-xl py-2 md:py-4 xl:py-6
}
.highlight-text p{
    @apply italic text-xs sm:text-base xl:text-xl pt-4
}
.hightlight-img{
    @apply w-1/2 sm:w-2/3
}
.hightlight-img img{
    @apply w-full object-cover h-full
}
.spotlight-note{
    @apply flex flex-col lg:flex-row items-start gap-16 pt-[5%] pb-[15%] relative
}
.spotlight-text{
    @apply w-full lg:w-3/5
}
.past-spotlight{
    @apply w-full lg:w-2/5 py-3 md:py-6 px-[10%] sticky top-24
}
.past-spotlight h6{
    @apply text-white bg-[#122867] text-xs sm:text-sm md:text-base font-semibold py-4 px-6
}
.past-spotlight p{
    @apply py-4 border-b border-[#E5E6EB] text-xs sm:text-sm md:text-base text-[#1D2129] font-semibold
}
.past-spotlight a{
    @apply text-[#122867]
}
.register-note{
    @apply py-4  flex flex-col gap-6 text-[#1D2129] text-base 
}
.register-note p{
  @apply text-xs sm:text-sm md:text-base
}
.spotlight-text h2{
    @apply text-[#122867] text-lg md:text-2xl lg:text-[32px] font-semibold pt-6
}


/* FOOTER */
footer{
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8  items-start
}
.footer-contact-div{
  @apply flex gap-4 md:gap-6 lg:gap-8
}
.footer-note p{
  @apply text-[12px] md:text-sm font-normal  pt-4 
}
.footer-div h3 {
  @apply text-base font-semibold pb-2
}
.footer-div h4, .footer-div h5, .footer-div h6, .footer-div p, .footer-div div{
  @apply text-[12px] md:text-sm 
}
.footer-div h5{
  @apply py-2 md:py-4 lg:py-6
}
.footer-div p{
  @apply pt-1
}
.footer-social div{
  @apply flex items-center gap-2 pb-2
}
.footer-connect h3{
  @apply text-base md:text-xl lg:text-[28px] pb-2 lg:pb-4
}
.footer-connect p{
  @apply text-[12px] md:text-sm 
}
.connect-input{
  @apply pt-5 text-[10px] sm:text-xs
}
.footer-connect input{
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-[70%] md:w-full hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
  outline-none focus:outline-none
}
.footer-connect button{
  @apply bg-[#1679CB] text-white mt-3 w-[70%] md:w-full py-2 hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
}