@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-segoe: "Segoe UI", sans-serif;
}
@font-face {
  font-family: "SegoeUI";
  src: url("../assets/fonts/Segoe UI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  @apply w-full font-roboto select-none outline-none;
}
p{
  @apply font-segoe
}
/* NAV */
.nav{
  @apply relative
}
.top-nav {
  @apply bg-[#122867] text-white py-4 lg:py-8 pl-8 md:pl-18 lg:pl-32  flex gap-4 items-center fixed top-0 left-0 w-full z-100;
}
.nav-toggle {
  @apply block lg:hidden cursor-pointer;
}
.top-nav a{
  @apply text-xs md:text-sm lg:text-base 2xl:text-xl
}
.nav-community{
  @apply underline border-r-2  pr-4
}
.nav-header {
  @apply w-full
}
.bottom-nav {
  @apply bg-[#12286780] flex py-6 2xl:py-8 items-center justify-between pl-5 md:pl-10 lg:pl-20 pr-[5%] md:pr-[10%] lg:pr-[15%]  xl:pr-[25%] fixed top-14 lg:top-22 left-0 w-full z-100 ;
}
.desktop-nav{
  @apply hidden lg:flex items-center gap-6 text-white cursor-pointer
}
.desktop-nav div{
  @apply text-white transition-transform duration-200 ease-out hover:scale-105 select-none outline-none
}
 .cancel {
  @apply absolute top-4 right-6 cursor-pointer z-50 lg:hidden bg-white p-1.5 rounded-[18px]
}
.nav-list {
  @apply text-white cursor-pointer text-base xl:text-lg 2xl:text-2xl;
}
.list{
  @apply relative
}
.list ul{
  @apply bg-white  text-black text-base  border-b-2 border-[#165DFF] absolute -top-10 left-0 z-50
}
.list ul li{
  @apply block  px-3 py-2 bg-white hover:bg-[#122867] text-black hover:text-white
}
.list ul li a{
  @apply whitespace-nowrap
}
.mobile-nav {
  @apply fixed top-0 left-0 h-screen w-2/4 sm:w-1/4 max-w-xs
         bg-[#122867] text-white
         flex flex-col gap-6
         pt-15 px-6 items-center
         transform -translate-x-full
         transition-transform duration-300 ease-in-out
         z-50 lg:hidden
}
.mobile-nav.open {
  @apply translate-x-0;
}
.logo{
  @apply flex gap-5
}
.active-nav{
  @apply border-b-4 2xl:border-b-8 border-white pb-10
}

/* MAIN */
main{
     @apply bg-cover bg-center bg-no-repeat w-full mt-[40%] md:mt-[20%] lg:mt-[14%] h-[60vh] md:h-[95vh] 2xl:min-h-screen relative;
  background-image: url('../assets/resourceAudio.png');
}
main a{
 @apply text-white flex gap-2 absolute top-[10%] left-[10%]
}
.play{
    @apply bg-[#00AEEF] p-2 sm:p-4 md:p-6  w-[16%]  lg:w-[8%] absolute top-[40%] left-[50%] flex
}

/* VIDEO_DETAILS */
.video-details{
    @apply px-12 md:px-24 lg:px-32 py-[10%]
}
.video-details h3{
    @apply text-xl md:text-2xl lg:text-[32px] 2xl:text-4xl text-[#122867] font-semibold
}
.video-details p{
    @apply text-[#1D2129] text-sm sm:text-base 2xl:text-lg py-4
}
.video-details a{
    @apply text-center text-[#122867] mx-auto underline text-base
}
.video-details a p{
    @apply text-left
}

/* FOOTER */
footer {
  @apply bg-[#122867] text-white py-8 lg:py-20 px-10 md:px-18 lg:px-24 font-segoe;
}
.footer {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8  items-start;
}
.footer-contact-div {
  @apply flex gap-4 md:gap-6 lg:gap-8;
}
.footer-note p {
  @apply text-[12px] md:text-sm 2xl:text-base font-normal pt-4;
}
.footer-div h3 {
  @apply text-base 2xl:text-lg font-semibold pb-2 font-roboto;
}
.footer-div h4,
.footer-div h5,
.footer-div h6,
.footer-div p,
.footer-div div {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.footer-div h5 {
  @apply py-2 md:py-4 lg:py-6;
}
.footer-div p {
  @apply pt-1;
}
.footer-social div {
  @apply flex items-center gap-2 pb-2;
}
.footer-connect h3 {
  @apply text-base md:text-xl lg:text-[28px] 2xl:text-3xl pb-2 lg:pb-4 font-roboto;
}
.footer-connect p {
  @apply text-[12px] md:text-sm 2xl:text-base;
}
.connect-input {
  @apply pt-5 text-[10px] sm:text-xs 2xl:text-sm;
}
.footer-connect input {
  @apply bg-white text-[#86909C] py-2 px-5 mt-2 w-[70%] md:w-full hover:py-2.5 hover:text-base transition delay-200 duration-400 ease-in-out
  outline-none focus:outline-none;
}
.footer-connect button {
  @apply bg-[#1679CB] text-white mt-3 w-[70%] md:w-full py-4 hover:py-4.5 hover:text-base transition delay-200 duration-400 ease-in-out rounded-lg;
}
footer h1 {
  @apply pt-8 text-center text-[12px] md:text-sm 2xl:text-base font-normal cursor-pointer;
}
footer h1 a {
  @apply underline;
}
