@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif; 
}

@font-face {
  font-family: 'segoe ui';
  src: url('/assets/fonts/Segoe UI.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

